@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

:focus {
  outline: 0;
}

html {
  background: #EEF2DC;
}

header {
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #989c8a;
  float: left;
}

header h1 {
  width: 100%;
  height: 100px;
  background: url('http://static.squarespace.com/static/503bac2c84ae55f9f02043f1/t/52718ffee4b03475d0dd97ef/1383174225986/grouper_logo.png') center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  margin-bottom: 20px;
}


header h2 {
  width: 100%;
  text-align: center;
  color:#16aace;
  font-size: 24px;
  font-weight: 100;
}

body {
  padding: 20px;
  font-family: "helvetica", 'san-serif';
}

form {
  margin:20px;
  position: relative;
}

form textarea {
  border:1px solid #ccc;
  border-top: 1px solid #aaa;
  padding: 10px 70px 10px 15px;
  border-radius: 3px;
  width:100%;
  height:45px;
  margin:0;
  resize:none;
}

form button {
  position: absolute;
  top:8;
  right:8px;
  border-radius: 3px;
  border:1px solid #ccc;
}
