<form id='create-form' action="/site_maps" method="post">
  <input type="text" name="url" placeholder='Enter a full URI'>
  <input type="submit" value="Make my site map!">
</form>

<p class='wait'>This might take a minute...</p>
