<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Site Map Builder</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>

  <header>
    <h1>Grouper</h1>
    <h2>Site Map Builder</h2>
  </header>

  <%= yield %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src='/javascripts/application.js'></script>
</body>
</html>