<h2>Site map for: <%= @site_map.hostname %></h2>

<% @site_map.pages.each do |page| %>
<div class='page'>
  <h4 class='page-uri'><%= page.uri %></h4>

  <h5>Links:</h5>
  <ul class="links">
    <% page.links.each do |link| %>
    <li><%= link.uri %></li>
    <% end %>
  </ul>

  <% if page.assets.present? %>
  <h5>Assets:</h5>
  <ul class="assets">
    <% page.assets.each do |asset| %>
    <li><%= asset.uri %></li>
    <% end %>
  </ul>
  <% end %>

</div>
<% end %>
