<h2>Site map for: <%= @site_map.hostname %></h2>

<ul>
<% @site_map.pages.each do |page| %>
  <li>
    <p class='page-uri'><%= page.uri %></p>

    <ul class="links">
    <% page.links.each do |link| %>
      <li><%= link.uri %></li>
    <% end %>
    </ul>

    <ul class="assets">
    <% page.assets.each do |asset| %>
      <li><%= asset.uri %></li>
    <% end %>
    </ul>

  </li>
<% end %>
</ul>
